html {
  font-size: 18px;
  font-family: helvetica;
  color: white;
}

/* NOTE: header layout and design */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: black;
}

header .companyname {
  display: flex;
  align-items: center;
  width: 960px;
}
header img {
  margin: 0.66rem 0.5rem;
  height: 1.5rem;
  width: auto;
}

header h1 {
  margin: 0.66rem 0.5rem;
  font-size: 1rem;
}

@media only screen and (max-width:1024px) {
  header .companyname {
    width: 100%;
  }
}

@media only screen and (max-width: 470px) {
  .companyname {
    font-size: 0.77rem;
  }
}

/* NOTE: Banner layout and design */

.banner {
  width: 100%;
  height: 25rem;
  background-image: url(./images/banner.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.sloganline {
  display: flex;
  justify-content: center;
  width: 960px;
}

.sloganbox {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 25rem;
  height: auto;
  position: relative;
  top: 9rem;
}

.sloganbox h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.25rem;
  margin-left: 3rem;
}

.sloganbox h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 3rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1024px) {
  .sloganline {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
}

@media only screen and (max-width: 470px) {
  .banner {
    height: 15rem;
  }

  .sloganbox {
    position: relative;
    top: 10rem;
    height: 4.5rem;
    width: 100%;
  }

.sloganbox h1 {
  font-size: 1rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.sloganbox h2 {
  font-size: 0.77rem;
  margin-left: 2rem;
  margin-top: 1rem;
}
  )
}

/* NOTE: menubar layout and design */

.menubar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4rem;
  background-color: firebrick;
}

.navbigscreen a {
  color: white;
  text-decoration-line: none;
}

@media only screen and (min-width: 1024px) {
  .navbigscreen {
  display: flex;
  justify-content: space-between;
  width: 960px;
  }
  .navsmallscreen {
  display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .navbigscreen {
  display: none;
  }
  .navmedscreen {
  display: flex;
  justify-content: center;
  }
}

/* NOTE: Product section layout and design */

.productsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productimages {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 960px;
}

.productbox{
  border: 4px solid black;
  width: 30%;
  height: 30%;
}

.imagebox {
  height: 13rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagebox img {
  max-height: 9rem;
  max-width: 9rem;
}

.descriptionbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 4rem;
  padding: 0.5rem 0rem;
}

.infoline {
  display: flex;
  justify-content: space-between;
  margin: 2.5% 0%;
  width: 960px;
}

.infobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 35%;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.infobox h3 {
  padding: 1rem;
}

.infobox h4 {
  background-color: white;
  color: black;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .productbox {
    width: 47%;
    height: 47%;
  }
  .hidemedscreen {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
.productimages {
  width: 90%;
}
  .productbox {
    width: 100%;
    height: 100%;
  }

  .descriptionbox {
    height: 2rem;
  }

  .hidesmallscreen {
    display: none;
  }

  .infoline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
  }

  .infobox {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
/* NOTE: Footer section layout and design */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 5rem;
  width: 100%;
}

footer span {
  width: 960px;
  text-align: left;
}

@media only screen and (max-width: 470px) {
  footer span {
    width: 100%;
    text-align: center;
    font-size: 0.77rem;
  }
}
